*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body{
	
	  background: url(imagem-fundo.jpg) no-repeat center center fixed;
	  background-size: cover;
	  height: 100%;
	  
}

/*#imagem{
	  position: fixed; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
}

#imagem img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}*/

.containers{
	padding-top: 19px;
	padding-bottom: 19px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	border-radius: 15px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #ffffff;	
}

.containers2{
    padding-top: 19px;
	padding-bottom: 19px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	border-radius: 15px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #ffffff;	
}

label{
   font-size: 18px;
}